{% extends 'layout.html' %}

{% block title %}User Dashboard{% endblock %}

{% block content %}


<section id="about" class="about-section py-5 mt-5">
    <div class="container">
      <h2 class="section-title text-center mb-4">Logo</h2>
      <div class="row align-items-center">
        <div class="col-md-6">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Coffee Background"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-6">
          <h3 class="sub-title">Filosofi Logo</h3>
          <h5>Daun dan Biji Kopi:</h5>
          <p>
            Menggambarkan item atau produk inti yang diolah menjadi minuman.
          </p>
          <h5>Cup dan Sedotan:</h5>
          <p>
            Menggambarkan minuman dijual dengan dingin.
          </p>
          <h5>No 81:</h5>
          <p>
            Menggambarkan nomor rumah.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="about-section py-5 mt-5">
    <div class="container">
      <h2 class="section-title text-center mb-4">Pemilik</h2>
      <div class="row align-items-center">
        <div class="col-md-6">
          <img
            src="https://www.nestle.com/sites/default/files/2023-09/coffee-farming-feed.jpg"
            alt="Coffee Background"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-6">
          <h3 class="sub-title">Filosofi Logo</h3>
          <h5>Daun dan Biji Kopi:</h5>
          <p>
            Menggambarkan item atau produk inti yang diolah menjadi minuman.
          </p>
          <h5>Cup dan Sedotan:</h5>
          <p>
            Menggambarkan minuman dijual dengan dingin.
          </p>
          <h5>No 81:</h5>
          <p>
            Menggambarkan nomor rumah.
          </p>
        </div>
      </div>
    </div>
  </section>
<section id="gallery">
  <header class="header">
    <h1>Gallery</h1>
  </header>
  <div class="gallery">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/1.jpg" alt="sleeping cat">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/2.jpg" alt="cat laying upside down">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/3.jpg" alt="staring cat">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/4.jpg" alt="a cat sleeping under a duvet">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/5.jpg" alt="one worried looking cat">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/6.jpg" alt="two cats">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/7.jpg" alt="hiding cat">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/8.jpg" alt="staring garfield cat">
    <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/9.jpg" alt="a black cat and a white cat">
  </div>
</section>

{% endblock %}