<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="login-form">
      <h1>LOGIN</h1>
      <div class="container">
        <div class="main">
          <div class="content">
            <h2>Log In</h2>
            <form method="post">
              <input
                type="text"
                name="username"
                id=""
                placeholder="Username"
                required
              />
              <input
                type="password"
                name="password"
                id=""
                placeholder="Password"
                required
              />
              <button type="submit" class="btn">Login</button>
            </form>
            <p class="account">
              Don't Have An Account? <a href="#">Register</a>
            </p>
          </div>
          <div class="form-img">
            <img
              src="{{url_for('static', filename='img/coffee-cup.png')}}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
