{% extends "layout.html" %} {% block title %}Products{% endblock %} {% block
content %}
<style>
  .pricing-tables .item img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 15px;
  }
  @media (max-width: 768px) {
    .product-image {
      width: 100px;
      height: auto;
    }
  }
</style>
<div id="menu top" class="pricing-tables section">
  <div class="tables-left-dec">
    <img
      src="{{ url_for('static', filename='assets/images/tables-left-dec.png') }}"
      alt=""
    />
  </div>
  <div class="tables-right-dec">
    <img
      src="{{ url_for('static', filename='assets/images/tables-right-dec.png') }}"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Nikmati <em>cita rasa</em> terbaik dari kopi & teh kami</h2>
          <span>Menu Kami</span>
        </div>
      </div>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="item first-item">
          <img
            class="product-image"
            src="{{ url_for('static', filename='img/upload/' + product.image_filename) }}"
            alt="Latte"
            style="margin-bottom: 15px"
          />
          <div>
            <h4>{{ product.name }}</h4>
            <ul>
              <li><strong>Kategori:</strong> {{product.category}}</li>
              <li><strong>Harga:</strong>{{ product.price|rupiah }}</li>
              <li>{{ product.description }}</li>
            </ul>
          </div>
          <div class="main-blue-button-hover">
            <a
              href="{{ url_for('detail_product', product_id=product._id) }}"
              class="product-card__btn text-decoration-none"
              >Order</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Button Lihat Semua Produk -->
    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <div class="main-blue-button-hover" style="margin-top: 30px">
          <a href="{{ url_for('show_products') }}">Lihat Semua Produk</a>
        </div>
      </div>
    </div> -->
  </div>
</div>

{% endblock %}
