{% extends "layout.html" %} 
{% block title %}Products{% endblock %} 
{% block content %}

<div class="container">
  <h1 class="title-shop" style="margin-top: 80px">Coffee</h1>

  <main class="main bd-grid">
    {% for product in products %}
    <article class="card">
      <div class="card__img">
        <img
          src="{{ url_for('static', filename='img/upload/' + product.image_filename) }}"
          alt="{{ product.name }}"
        />
      </div>
      <div class="card__name">
        <p>{{ product.name }}</p>
      </div>
      <div class="card__precis">
        <a href="#" class="card__icon"
          ><ion-icon name="heart-outline"></ion-icon
        ></a>
        <div>
          <span
            class="card__preci card__preci--before"
            style="text-decoration: line-through"
            >Rp.20.000</span
          >
          <span class="card__preci card__preci--now"
            >{{ product.price|rupiah }}</span
          >
        </div>
        <a
          href="{{ url_for('detail_product', product_id=product._id) }}"
          class="card__icon"
          ><ion-icon name="cart-outline"></ion-icon
        ></a>
      </div>
    </article>
    {% endfor %}
  </main>
</div>

{% endblock %}
