{% extends 'layout.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container mt-5 p-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Checkout</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{{ url_for('checkout') }}">
                        <!-- Full Name akan diisi otomatis dari session -->
                        <div class="mb-3">
                            <label for="full_name" class="form-label">Nama Lengkap</label>
                            <input type="text" name="full_name" id="full_name" class="form-control" value="{{ user['username'] }}" readonly required>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Nomor Handphone</label>
                            <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="payment_method" class="form-label">Metode Pembayaran</label>
                            <select name="paymentMethod" id="paymentMethod" class="form-select" required>
                                <option value="BCA">Bank BCA</option>
                                <option value="Gopay">Gopay</option>
                                <option value="Dana">Dana</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Alamat</label>
                            <textarea name="address" id="address" class="form-control" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="note" class="form-label">Catatan</label>
                            <textarea name="note" id="note" class="form-control" placeholder="Masukkan catatan tambahan jika ada"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bx bxs-credit-card"></i> Checkout 
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
